.sidebar {
  display: none;
  position: fixed;
  top: 190px;
  left: 0;
  width: 100%;
  z-index: $sidebar-level;

  &.is-active {
    display: block;
  }
  
  .sidebar-component {
    @include columns-flexbox();
    max-width: 400px;
    margin: 0 auto;

    textarea {
      display: block;
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      background-color: $background;
      border: 1px solid $primary;
      border-radius: 8px;
      font-size: 16px;
      color: $primary;

      &::placeholder {
        opacity: 0.4;
      }

      &:focus {
        border: 1px solid $border;
      }
    }
  }

  &-enter {
    width: 100%;

    button {
      @include dragunable();
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      background-color: $border;
      border: 1px solid $border;
      border-radius: 8px;
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.08em;
      color: $primary;
      cursor: pointer;

      &:active {
        opacity: 0.4;
      }
    }

    .add-close {
      @include flexbox();

      i {
        font-size: 40px;
        cursor: pointer;

        &:active {
          opacity: 0.4;
        }
      }
    }
  }
}
