.description {
  @include flexbox(between);
  font-size: 12px;
  padding: 20px;

  &-left {
    dl {
      @include flexbox();
    }

    .name,
    .tel,
    .address {
      @include flexbox(start);
      margin-right: 15px;
    }

    .tel {
      a:hover,
      a:active {
        opacity: 0.4;
      }
    }

    dt {
      color: $primary;
      font-weight: 400;

      &:after {
        content: ':';
        display: inline-block;
        padding: 0 4px;
      }
    }

    dd {
      color: $primary;
      font-weight: 300;

      &:after {
        content: '|';
        display: inline-block;
        padding-left: 15px;
      }
    }

    .address {
      margin-right: 0;

      dd:after {
        display: none;
      }
    }
  }

  &-right {
    @include flexbox();

    .link-1 {
      margin-right: 20px;
    }

    a {
      @include flexbox();

      i, span {
        color: $primary;
      }

      i {
        margin-right: 5px;
      }

      &:hover,
      &:active {
        opacity: 0.4;
      }
    }
  }
  
}
