$dropdown-shadow: 0 4px 6px rgba(0, 0, 0, 0.18);
$popup-shadow: 0 4px 20px rgba(63, 65, 80, 0.3);
$popup-reversed-shadow: 0 -4px 20px rgba(63, 65, 80, 0.3);
$input-shadow: 0 0 20px rgba(174, 174, 174, 0.6), inset 0 0 10px rgba(174, 174, 174, 0.6);
